[Unit]
Description=Simple CGI Server
After=nss-user-lookup.target

[Service]
ExecStart=/usr/local/sbin/fcgiwrap
User=apache
Group=apache

[Install]
Also=fcgiwrap.socket
